!!! 5
= render 'ie-conditionals'
%html.no-js{:lang => "en"}

    %head
        = render 'head'

    %body.init.nav-add-social

        -# Site Wrap Outer
        #site-wrap-outer
            -# Header & Content Wrap
            %section#nav-and-content-wrap

                -# Subscribe
                = render 'layout-subscribe-door'

                -# Header & Navigation
                = render 'header-primary'

            -# Site Wrap Inner
            #site-wrap-inner


                -# Content Wrap
                %main#content-wrap{:role => "main"}


                    = yield


            -# Site Footer
            %footer#main-footer
                = render 'footer-primary'

        = render 'bodyscripts'
